/* Importando as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Aplica o fundo bege suave e a fonte padrão de terminal */
  @apply bg-retro-bg text-retro-dark font-mono;
  
  /* Remove suavização da fonte para ficar mais "pixelada" e nítida */
  -webkit-font-smoothing: none; 
}

/* Barra de rolagem personalizada (estilo retrô) */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  @apply bg-retro-case border-l-2 border-retro-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-retro-accent border-2 border-retro-dark;
}